<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>role</th>
        </tr>
        {% for employee in employees %}
        <tr>
            {% for field in employee %}
                <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>